$font-family-sans-serif: 'Barlow Semi Condensed', serif;

$primary:       hsl(263, 55%, 52%);
$secondary:     hsl(217, 19%, 35%);
$dark:          hsl(219, 29%, 14%);
$ligth:         hsl(0, 0%, 100%);

.bg-image {
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: left 80% top;
}

.gap {
    gap: 1rem;
}
.card-body img {
    width: 3rem;
}

.title-impact {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.title-soft {
    opacity: 0.5;
    margin: 0;
}

.text-impact {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
}
.text-soft {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1;
    opacity: 0.7;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
